.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100px;
    margin-bottom: 15%;
}

.skip-botton {
    background: rgba(53, 160, 238, 0.1);
    color: #35A0EE;
    text-transform: none;
    
}